body{
    background: linear-gradient(to right, #dadada, #666666);
}

.calc-grid{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: auto;
    min-height: 50vh;
    background-color: #2d2c2e;
    margin: 0px 400px;
    border-radius: 5px;
}
.small-btn{
    grid-column: span 4;
}

button{
    border-radius: 50%;
    cursor: pointer;
    color: white;
    border: 1px solid #696969;
    outline: none;
    height: max-content;
}

.output{
    border: solid 5px #94948f;
    grid-column: span 4;
    background-color: #acae9f;
}

.btn-op{
    grid-column: span 1;
    background-color: #392619;
}

.btn-num{
    grid-column: span 1;
    background-color: #101012;
}

.btn-eq{
    grid-column: span 1;
    background-color: #cc9c4b;
}